Load the "diamonds" dataset from Seaborn

In [1]:
import seaborn as sns

diamonds_df = sns.load_dataset('diamonds')

print(diamonds_df.head())

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

Calculate the average price for each color

In [2]:
average_price_by_color = diamonds_df.groupby('color')['price'].mean()

print(average_price_by_color)

color
D    3169.954096
E    3076.752475
F    3724.886397
G    3999.135671
H    4486.669196
I    5091.874954
J    5323.818020
Name: price, dtype: float64

Create function calculate the difference between the maximum and minimum price

In [3]:
def calculate_price_difference(dataset):
    max_price = dataset['price'].max()
    min_price = dataset['price'].min()
    price_difference = max_price - min_price
    return price_difference

diamonds_df = sns.load_dataset('diamonds')
price_diff = calculate_price_difference(diamonds_df)

print("Price Difference:", price_diff)

Price Difference: 18497

Calculate the max min difference grouped by each cut

In [4]:
def calculate_price_difference(dataset):
    max_min_difference = dataset['price'].max() - dataset['price'].min()
    return max_min_difference

diamonds_df = sns.load_dataset('diamonds')
price_diff_by_cut = diamonds_df.groupby('cut').apply(calculate_price_difference)

print(price_diff_by_cut)

cut
Ideal        18480
Premium      18497
Very Good    18482
Good         18461
Fair         18237
dtype: int64