Create a Series with the following data: data = [1, np.nan, 3, 4, np.nan, 6, 7, 8, np.nan, 10]

In [1]:
import pandas as pd
import numpy as np

data = [1, np.nan, 3, 4, np.nan, 6, 7, 8, np.nan, 10]
series = pd.Series(data)

print(series)

0     1.0
1     NaN
2     3.0
3     4.0
4     NaN
5     6.0
6     7.0
7     8.0
8     NaN
9    10.0
dtype: float64

Find the total number of missing values in the Series.

In [2]:
data = [1, np.nan, 3, 4, np.nan, 6, 7, 8, np.nan, 10]
series = pd.Series(data)

missing_values = series.isna().sum()

print("Total missing values:", missing_values)

Total missing values: 3

Use the isnull() method to identify the missing values in the Series.

In [3]:
data = [1, np.nan, 3, 4, np.nan, 6, 7, 8, np.nan, 10]
series = pd.Series(data)

missing_values = series.isnull()

print(missing_values)

0    False
1     True
2    False
3    False
4     True
5    False
6    False
7    False
8     True
9    False
dtype: bool

Drop the missing values from the Series using the dropna() method with the default arguments.

In [4]:
series_without_missing = series.dropna()

print(series_without_missing)

0     1.0
2     3.0
3     4.0
5     6.0
6     7.0
7     8.0
9    10.0
dtype: float64

Drop the missing values from the Series using the dropna() method with the argument how='all'.

In [5]:
series_without_missing = series.dropna(how='all')

print(series_without_missing)

0     1.0
2     3.0
3     4.0
5     6.0
6     7.0
7     8.0
9    10.0
dtype: float64

Drop the missing values from the Series using the dropna() method with the argument thresh=2

In [11]:
series_without_missing = series.dropna(thresh=2)
print(series_without_missing)

TypeError: dropna() got an unexpected keyword argument 'thresh'

Fill the missing values in the Series with the value 0 using the fillna() method.

In [12]:
series_filled = series.fillna(0)

print(series_filled)

0     1.0
1     0.0
2     3.0
3     4.0
4     0.0
5     6.0
6     7.0
7     8.0
8     0.0
9    10.0
dtype: float64

Create a Series with the following data: data = [1, 2, 2, 3, 3, 4, 5, 5, 5, 6]

In [13]:
data = [1, 2, 2, 3, 3, 4, 5, 5, 5, 6]
series = pd.Series(data)

print(series)

0    1
1    2
2    2
3    3
4    3
5    4
6    5
7    5
8    5
9    6
dtype: int64

Use the duplicated() method to identify the duplicate values in the Series

In [14]:
data = [1, 2, 2, 3, 3, 4, 5, 5, 5, 6]
series = pd.Series(data)

duplicates = series.duplicated()

print(duplicates)

0    False
1    False
2     True
3    False
4     True
5    False
6    False
7     True
8     True
9    False
dtype: bool

Drop the duplicate values from the Series using the drop_duplicates() method with the default
arguments.

In [15]:
duplicate_values = series.drop_duplicates()
print(duplicate_values)

0    1
1    2
3    3
5    4
6    5
9    6
dtype: int64

Drop the duplicate values from the Series using the drop_duplicates() method with the
argument keep='last'.

In [16]:
series_without_duplicates = series.drop_duplicates(keep='last')

print(series_without_duplicates)

0    1
2    2
4    3
5    4
8    5
9    6
dtype: int64

Drop the duplicate values from the Series using the drop_duplicates() method with the
argument keep=False

In [17]:
series_without_duplicates = series.drop_duplicates(keep=False)

print(series_without_duplicates)

0    1
5    4
9    6
dtype: int64

Create a DataFrame with the following data: data = {'A': [1, np.nan, 3, 4, np.nan, 6, 7, 8, np.nan,
10], 'B': [11, np.nan, 33, 44, np.nan, 66, np.nan, 88, 99, np.nan], 'C': [111, np.nan, 333, 444,
np.nan, 666, 777, np.nan, 999, np.nan]}

In [18]:
data = {'A': [1, np.nan, 3, 4, np.nan, 6, 7, 8, np.nan, 10],
        'B': [11, np.nan, 33, 44, np.nan, 66, np.nan, 88, 99, np.nan],
        'C': [111, np.nan, 333, 444, np.nan, 666, 777, np.nan, 999, np.nan]}

df = pd.DataFrame(data)

print(df)

      A     B      C
0   1.0  11.0  111.0
1   NaN   NaN    NaN
2   3.0  33.0  333.0
3   4.0  44.0  444.0
4   NaN   NaN    NaN
5   6.0  66.0  666.0
6   7.0   NaN  777.0
7   8.0  88.0    NaN
8   NaN  99.0  999.0
9  10.0   NaN    NaN

Find the total number of missing values in the DataFrame.

In [22]:
missing_values = df.isna().sum().sum()

print("Total missing values:", missing_values)

Total missing values: 11

Use the isnull() method to identify the missing values in the DataFrame.

In [20]:
missing_values = df.isnull()

print(missing_values)

       A      B      C
0  False  False  False
1   True   True   True
2  False  False  False
3  False  False  False
4   True   True   True
5  False  False  False
6  False   True  False
7  False  False   True
8   True  False  False
9  False   True   True

Drop the missing values from the DataFrame using the dropna() method with the default
arguments.

In [21]:
df_without_missing = df.dropna()

print(df_without_missing)

     A     B      C
0  1.0  11.0  111.0
2  3.0  33.0  333.0
3  4.0  44.0  444.0
5  6.0  66.0  666.0

Drop the missing values from the DataFrame using the dropna() method with the argument
axis=1.

In [23]:
df_dropped = df.dropna(axis=1)

print(df_dropped)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Drop the missing values from the DataFrame using the dropna() method with the argument
thresh=2.

In [24]:
df_dropped = df.dropna(thresh=2)

print(df_dropped)

     A     B      C
0  1.0  11.0  111.0
2  3.0  33.0  333.0
3  4.0  44.0  444.0
5  6.0  66.0  666.0
6  7.0   NaN  777.0
7  8.0  88.0    NaN
8  NaN  99.0  999.0

Fill the missing values in the DataFrame with the value 0 using the fillna() method.

In [25]:
df_filled = df.fillna(0)

print(df_filled)

      A     B      C
0   1.0  11.0  111.0
1   0.0   0.0    0.0
2   3.0  33.0  333.0
3   4.0  44.0  444.0
4   0.0   0.0    0.0
5   6.0  66.0  666.0
6   7.0   0.0  777.0
7   8.0  88.0    0.0
8   0.0  99.0  999.0
9  10.0   0.0    0.0

Create a DataFrame with the following data: data = {'A': [1, 2, 2, 3, 3, 4, 5, 5, 5, 6], 'B': [11, 22,
22, 33, 33, 44, 55, 55, 55, 66], 'C': [111, 222, 222, 333, 333, 444, 555, 555, 555, 666]}

In [29]:
data1 = {'A': [1, 2, 2, 3, 3, 4, 5, 5, 5, 6],
        'B': [11, 22, 22, 33, 33, 44, 55, 55, 55, 66],
        'C': [111, 222, 222, 333, 333, 444, 555, 555, 555, 666]}

df = pd.DataFrame(data1)

print(df)

   A   B    C
0  1  11  111
1  2  22  222
2  2  22  222
3  3  33  333
4  3  33  333
5  4  44  444
6  5  55  555
7  5  55  555
8  5  55  555
9  6  66  666

Use the duplicated() method to identify the duplicate values in the DataFrame.

In [27]:
duplicates = df.duplicated()

print(duplicates)

0    False
1    False
2     True
3    False
4     True
5    False
6    False
7     True
8     True
9    False
dtype: bool

Drop the duplicate values from the DataFrame using the drop_duplicates() method with the
default arguments.

In [28]:
duplicate_values = df.drop_duplicates()
print(duplicate_values)

   A   B    C
0  1  11  111
1  2  22  222
3  3  33  333
5  4  44  444
6  5  55  555
9  6  66  666

Drop the duplicate values from the DataFrame using the drop_duplicates() method with the
argument subset=['A'].

In [32]:
df_dropped = df.drop_duplicates(subset=['A'])

print(df_dropped)

   A   B    C
0  1  11  111
1  2  22  222
3  3  33  333
5  4  44  444
6  5  55  555
9  6  66  666

Drop the duplicate values from the DataFrame using the drop_duplicates() method with the
argument subset=['A', 'B'] and keep='last'

In [33]:
df_dropped = df.drop_duplicates(subset=['A','B'], keep = 'last')

print(df_dropped)

   A   B    C
0  1  11  111
2  2  22  222
4  3  33  333
5  4  44  444
8  5  55  555
9  6  66  666