## Exercise for Series:

In [1]:
#1. Create a Series with the following data: data = [5, 10, 15, 20, 25, 30], index = ['a', 'b', 'c', 'd', 'e','f']

import pandas as pd
data = [5, 10, 15, 20, 25, 30]
index = ['a', 'b', 'c', 'd', 'e', 'f']
my_series = pd.Series(data, index=index)
print("Series:")
print(my_series)

Series:
a     5
b    10
c    15
d    20
e    25
f    30
dtype: int64

In [2]:
#2. Grab the entry with index name 'c' from the Series.
entry_c = my_series['c']
print("\nEntry with index name 'c':", entry_c)

Entry with index name 'c': 15

In [3]:
#3. Grab entries in the Series with index values ['a', 'c', 'f'].

entries_acf = my_series[['a', 'c', 'f']]
print("\nEntries with index values ['a', 'c', 'f']:")
print(entries_acf)

Entries with index values ['a', 'c', 'f']:
a     5
c    15
f    30
dtype: int64

In [4]:
#4. Grab entries in the Series based on index logic: entries greater than 15.

entries_gt_15 = my_series[my_series > 15]
print("\nEntries greater than 15:")
print(entries_gt_15)

Entries greater than 15:
d    20
e    25
f    30
dtype: int64

In [5]:
#5. replace the value 10 by 100

my_series.replace(10, 100, inplace=True)
print("\nSeries with replaced value 10 by 100:")
print(my_series)

Series with replaced value 10 by 100:
a      5
b    100
c     15
d     20
e     25
f     30
dtype: int64

## Exercise for DataFrames:

In [6]:
#1. Create a DataFrame with the following data: data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50], 'C':[100, 200, 300, 400, 500]}, index = ['a', 'b', 'c', 'd', 'e']

import pandas as pd

data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50], 'C': [100, 200, 300, 400, 500]}
index_labels = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data, index=index_labels)
print(df)

   A   B    C
a  1  10  100
b  2  20  200
c  3  30  300
d  4  40  400
e  5  50  500

In [7]:
#2. Grab the row with index label 'c' from the DataFrame.
row_c = df.loc['c']
print(row_c)

A      3
B     30
C    300
Name: c, dtype: int64

In [8]:
#3. Grab rows in the DataFrame with index range 'b' to 'e'.
rows_b_to_e = df.loc['b':'e']
print(rows_b_to_e)

   A   B    C
b  2  20  200
c  3  30  300
d  4  40  400
e  5  50  500

In [9]:
#4. Grab rows in the DataFrame with index values ['a', 'c', 'e'].
specific_rows = df.loc[['a', 'c', 'e']]
print(specific_rows)

   A   B    C
a  1  10  100
c  3  30  300
e  5  50  500

In [10]:
#5. Grab rows in the DataFrame based on index logic: rows where the value in column 'A' is greater than 2.
rows_A_greater_than_2 = df[df['A'] > 2]
print(rows_A_greater_than_2)

   A   B    C
c  3  30  300
d  4  40  400
e  5  50  500

In [11]:
#6. Grab rows in the DataFrame based on index logic: rows where the value in column 'A' is greater than 2 and 'B' less than 50
rows_A_greater_than_2_B_less_than_50 = df[(df['A'] > 2) & (df['B'] < 50)]
print(rows_A_greater_than_2_B_less_than_50)

   A   B    C
c  3  30  300
d  4  40  400

In [12]:
#7. Drop column 'A' from the data frame
df_without_A = df.drop('A', axis=1)
print(df_without_A)

    B    C
a  10  100
b  20  200
c  30  300
d  40  400
e  50  500

In [14]:
#8. drop raw 'e' from the data frame
df_without_e = df.drop('e', axis=0)
print(df_without_e)

   A   B    C
a  1  10  100
b  2  20  200
c  3  30  300
d  4  40  400