## (Pivot table)

### â€¢ Read the following table from excel file

In [6]:
import pandas as pd
df = pd.read_csv('Pivot.csv')
df

   Region Product Month  Sales
0    East       A   Jan    100
1    East       A   Jan    100
2    East       A   Feb    150
3    East       B   Jan    300
4    East       B   Feb    200
5    West       A   Jan    150
6    West       A   Feb    225
7    West       B   Jan    200
8    West       B   Feb    250
9   North       A   Jan    175
10  North       A   Feb    255
11  North       B   Jan    150

### 1. Create a pivot table that shows the total sales by region and product.

In [8]:
pivot_table = df.pivot_table(index=['Region', 'Product'], values='Sales', aggfunc='sum')
print(pivot_table)

                Sales
Region Product
East   A          350
       B          500
North  A          430
       B          150
West   A          375
       B          450

### 2. Create a pivot table that shows the average sales by region and product.

In [9]:
pivot_table = df.pivot_table(index=['Region', 'Product'], values='Sales', aggfunc='mean')
print(pivot_table)

                     Sales
Region Product
East   A        116.666667
       B        250.000000
North  A        215.000000
       B        150.000000
West   A        187.500000
       B        225.000000

### 3. Create a pivot table that shows the maximum sales by region and product.

In [10]:
pivot_table = df.pivot_table(index=['Region', 'Product'], values='Sales', aggfunc='max')
print(pivot_table)

                Sales
Region Product
East   A          150
       B          300
North  A          255
       B          150
West   A          225
       B          250

### 4. Create a pivot table that shows the total sales by month and region.

In [11]:
pivot_table = df.pivot_table(index='Month', columns='Region', values='Sales', aggfunc='sum')
print(pivot_table)

Region  East  North  West
Month
Feb      350    255   475
Jan      500    325   350

### 5. Create a pivot table that shows the total sales by month and product.

In [12]:
pivot_table = df.pivot_table(index='Month', columns='Product', values='Sales', aggfunc='sum')
print(pivot_table)

Product    A    B
Month
Feb      630  450
Jan      525  650

### 6. Create a frequency table that shows the number of sales by product.

In [13]:
frequency_table = df['Product'].value_counts()
print(frequency_table)

A    7
B    5
Name: Product, dtype: int64

### 7. Create a frequency table that shows the number of sales by region.

In [14]:
frequency_table = df['Region'].value_counts()
print(frequency_table)

East     5
West     4
North    3
Name: Region, dtype: int64

### 8. Create a frequency table that shows the number of sales by month.

In [15]:
frequency_table = df['Month'].value_counts()
print(frequency_table)

Jan    7
Feb    5
Name: Month, dtype: int64

### 9. Create a frequency table that shows the number of region and product.

In [ ]:
frequency_table = df.groupby(['Region', 'Product']).size()
print(frequency_table)