## (Ranking and Sorting)

### 1. Create a Series with the following data: data = [5, 10, 15, 20, 25, 30], index = ['a', 'b', 'c', 'd', 'e','f']

In [2]:
import pandas as pd

data = [5, 10, 15, 20, 25, 30]
index = ['a', 'b', 'c', 'd', 'e', 'f']
series = pd.Series(data, index)
series

a     5
b    10
c    15
d    20
e    25
f    30
dtype: int64

### 2. Sort the Series by index in ascending order.

In [13]:
s_index = series.sort_index()
s_index

a     5
b    10
c    15
d    20
e    25
f    30
dtype: int64

### 3. Sort the Series by values in descending order.

In [14]:
s_values = series.sort_values(ascending=False)
s_values

f    30
e    25
d    20
c    15
b    10
a     5
dtype: int64

### 4. Rank the Series and add a new column to the Series with the rank of each value.

In [15]:
series_ranked = series.rank()
s_rank = pd.DataFrame({'data': series, 'rank': series_ranked})
s_rank

   data  rank
a     5   1.0
b    10   2.0
c    15   3.0
d    20   4.0
e    25   5.0
f    30   6.0

### 5. Create a DataFrame with the following data: data = {'A': [1, 3, 2, 4, 5], 'B': [10, 20, 30, 40, 50], 'C':[100, 200, 300, 400, 500]}

In [16]:
data = {'A': [1, 3, 2, 4, 5], 'B': [10, 20, 30, 40, 50], 'C': [100, 200, 300, 400, 500]}
df = pd.DataFrame(data)
df

   A   B    C
0  1  10  100
1  3  20  200
2  2  30  300
3  4  40  400
4  5  50  500

### 6. Sort the DataFrame by values in column 'A' in ascending order.

In [17]:
df_sorted_A = df.sort_values('A')
df_sorted_A

   A   B    C
0  1  10  100
2  2  30  300
1  3  20  200
3  4  40  400
4  5  50  500

### 7. Sort the DataFrame by values in column 'B' in descending order.

In [18]:
df_sorted_B = df.sort_values('B', ascending=False)
df_sorted_B

   A   B    C
4  5  50  500
3  4  40  400
2  2  30  300
1  3  20  200
0  1  10  100

### 8. Sort the DataFrame by values in column 'A' in ascending order and then by values in column 'B' in descending order.

In [19]:
df_sorted_AB = df.sort_values(['A', 'B'], ascending=[True, False])
df_sorted_AB

   A   B    C
0  1  10  100
2  2  30  300
1  3  20  200
3  4  40  400
4  5  50  500

### 9. Rank the DataFrame by values in column 'A' and add a new column to the DataFrame with the rank of each value.

In [20]:
df_ranked = df['A'].rank()
df_rank = df.assign(rank=df_ranked)
df_rank

   A   B    C  rank
0  1  10  100   1.0
1  3  20  200   3.0
2  2  30  300   2.0
3  4  40  400   4.0
4  5  50  500   5.0

### 10. Sort the DataFrame by values in column 'A' and then by rank in ascending order.

In [21]:
df_sorted_A_rank = df_with_rank.sort_values(['A', 'rank'])
df_sorted_A_rank

   A   B    C  rank
0  1  10  100   1.0
2  2  30  300   2.0
1  3  20  200   3.0
3  4  40  400   4.0
4  5  50  500   5.0