# DATA MANIPULATION USING PYTHON

## OBJECTIVE:

### 1.Consistent and organized data 
### 2.Insightful project data access
### 3.More valuable data
### 4.Reduces unnecessary data points

## 1.Dataset:

#### The Sleep Health and Lifestyle Dataset comprises 400 rows and 13 columns, covering a wide range of variables related to sleep and daily habits. It includes details such as gender, age, occupation, sleep duration, quality of sleep, physical activity level, stress levels, BMI category, blood pressure, heart rate, daily steps, and the presence or absence of sleep disorders.

https://www.kaggle.com/datasets/uom190346a/sleep-health-and-lifestyle-dataset

## 2. Get your data into a DataFrame:

##### Load a SLEEP DataFrame from a CSV file

In [89]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [90]:
frame=pd.read_csv("Sleep_health.csv")

In [91]:
frame

,Unnamed: 0,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,0,0,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,1,1,Male,28,Software Engineer,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,2,2,Male,28,Software Engineer,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,3,3,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,NaN
4,4,4,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,369,369,Female,59,Software Engineer,8.1,9,75,3,Overweight,140/95,68,7000,NaN
370,370,370,Female,59,Software Engineer,8.0,9,75,3,Overweight,140/95,68,7000,NaN
371,371,371,Female,59,Software Engineer,8.1,9,75,3,Overweight,140/95,68,7000,NaN
372,372,372,Female,59,Software Engineer,8.1,9,75,3,Overweight,140/95,68,7000,NaN
373,373,373,Female,59,Software Engineer,8.1,9,75,3,Overweight,140/95,68,7000,NaN

## 3. Saving a DataFrame

##### Saving a DataFrame to a CSV file

In [92]:
frame.to_csv('Sleep_health.csv', encoding='utf-8')

##### Saving a DataFrame to a Python dictionary

In [93]:
dictionary = frame.to_dict()

##### Saving a DataFrame to a Python string

In [94]:
string = frame.to_string()

## 4. Working with the whole DataFrame

##### Peek at the DataFrame contents

In [95]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               374 non-null    int64
 1   Person ID                374 non-null    int64
 2   Gender                   374 non-null    object
 3   Age                      374 non-null    int64
 4   Occupation               374 non-null    object
 5   Sleep Duration           374 non-null    float64
 6   Quality of Sleep         374 non-null    int64
 7   Physical Activity Level  374 non-null    int64
 8   Stress Level             374 non-null    int64
 9   BMI Category             374 non-null    object
 10  Blood Pressure           374 non-null    object
 11  Heart Rate               374 non-null    int64
 12  Daily Steps              374 non-null    int64
 13  Sleep Disorder           0 non-null      float64
dtypes: float64(2), int64(8), object(4)
memory usage: 35.1+ KB

##### Summary of column statistics

In [96]:
frame.describe()

,Unnamed: 0,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Sleep Disorder
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,0.0
mean,186.500000,186.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920,NaN
std,108.108742,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679,NaN
min,0.000000,0.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000,NaN
25%,93.250000,93.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000,NaN
50%,186.500000,186.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000,NaN
75%,279.750000,279.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000,NaN
max,373.000000,373.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000,NaN

#### Head

In [97]:
frame.head(3)

,Unnamed: 0,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,0,0,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,1,1,Male,28,Software Engineer,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,2,2,Male,28,Software Engineer,6.2,6,60,8,Normal,125/80,75,10000,NaN

#### Tail

In [98]:
frame.tail(2)

,Unnamed: 0,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
372,372,372,Female,59,Software Engineer,8.1,9,75,3,Overweight,140/95,68,7000,NaN
373,373,373,Female,59,Software Engineer,8.1,9,75,3,Overweight,140/95,68,7000,NaN

##### Shape (row-count, column-count)

In [99]:
frame.shape

(374, 14)

## 5. Working with Rows

##### Keeping rows

In [100]:
df = frame[frame['Age']== 59]
print (df)

     Unnamed: 0  Person ID  Gender  Age         Occupation  Sleep Duration  \
358         358        358  Female   59  Software Engineer             8.0
359         359        359  Female   59  Software Engineer             8.1
360         360        360  Female   59  Software Engineer             8.2
361         361        361  Female   59  Software Engineer             8.2
362         362        362  Female   59  Software Engineer             8.2
363         363        363  Female   59  Software Engineer             8.2
364         364        364  Female   59  Software Engineer             8.0
365         365        365  Female   59  Software Engineer             8.0
366         366        366  Female   59  Software Engineer             8.1
367         367        367  Female   59  Software Engineer             8.0
368         368        368  Female   59  Software Engineer             8.1
369         369        369  Female   59  Software Engineer             8.1
370         370        370  Female   59  Software Engineer             8.0
371         371        371  Female   59  Software Engineer             8.1
372         372        372  Female   59  Software Engineer             8.1
373         373        373  Female   59  Software Engineer             8.1

     Quality of Sleep  Physical Activity Level  Stress Level BMI Category  \
358                 9                       75             3   Overweight
359                 9                       75             3   Overweight
360                 9                       75             3   Overweight
361                 9                       75             3   Overweight
362                 9                       75             3   Overweight
363                 9                       75             3   Overweight
364                 9                       75             3   Overweight
365                 9                       75             3   Overweight
366                 9                       75             3   Overweight
367                 9                       75             3   Overweight
368                 9                       75             3   Overweight
369                 9                       75             3   Overweight
370                 9                       75             3   Overweight
371                 9                       75             3   Overweight
372                 9                       75             3   Overweight
373                 9                       75             3   Overweight

    Blood Pressure  Heart Rate  Daily Steps  Sleep Disorder
358         140/95          68         7000             NaN
359         140/95          68         7000             NaN
360         140/95          68         7000             NaN
361         140/95          68         7000             NaN
362         140/95          68         7000             NaN
363         140/95          68         7000             NaN
364         140/95          68         7000             NaN
365         140/95          68         7000             NaN
366         140/95          68         7000             NaN
367         140/95          68         7000             NaN
368         140/95          68         7000             NaN
369         140/95          68         7000             NaN
370         140/95          68         7000             NaN
371         140/95          68         7000             NaN
372         140/95          68         7000             NaN
373         140/95          68         7000             NaN

##### Dropping rows

In [101]:
frame = frame[(frame['Gender']!= 'Male') & (frame['Age']!= 59) & (frame['Quality of Sleep']!= 9)]
frame

,Unnamed: 0,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
16,16,16,Female,29,Software Engineer,6.5,5,40,7,Normal Weight,132/87,80,4000,NaN
18,18,18,Female,29,Software Engineer,6.5,5,40,7,Normal Weight,132/87,80,4000,NaN
30,30,30,Female,30,Software Engineer,6.4,5,35,7,Normal Weight,130/86,78,4100,NaN
31,31,31,Female,30,Software Engineer,6.4,5,35,7,Normal Weight,130/86,78,4100,NaN
32,32,32,Female,31,Software Engineer,7.9,8,75,4,Normal Weight,117/76,69,6800,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,307,307,Female,52,Software Engineer,6.5,7,45,7,Overweight,130/85,72,6000,NaN
308,308,308,Female,52,Software Engineer,6.6,7,45,7,Overweight,130/85,72,6000,NaN
309,309,309,Female,52,Software Engineer,6.6,7,45,7,Overweight,130/85,72,6000,NaN
310,310,310,Female,52,Software Engineer,6.6,7,45,7,Overweight,130/85,72,6000,NaN
311,311,311,Female,52,Software Engineer,6.6,7,45,7,Overweight,130/85,72,6000,NaN

##### null values (NaN)

In [102]:
#first replace (Nane) to (NaN):

frame.replace('None', np.nan,inplace=True)
frame

<ipython-input-102-847db0d35163>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frame.replace('None', np.nan,inplace=True)

,Unnamed: 0,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
16,16,16,Female,29,Software Engineer,6.5,5,40,7,Normal Weight,132/87,80,4000,NaN
18,18,18,Female,29,Software Engineer,6.5,5,40,7,Normal Weight,132/87,80,4000,NaN
30,30,30,Female,30,Software Engineer,6.4,5,35,7,Normal Weight,130/86,78,4100,NaN
31,31,31,Female,30,Software Engineer,6.4,5,35,7,Normal Weight,130/86,78,4100,NaN
32,32,32,Female,31,Software Engineer,7.9,8,75,4,Normal Weight,117/76,69,6800,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,307,307,Female,52,Software Engineer,6.5,7,45,7,Overweight,130/85,72,6000,NaN
308,308,308,Female,52,Software Engineer,6.6,7,45,7,Overweight,130/85,72,6000,NaN
309,309,309,Female,52,Software Engineer,6.6,7,45,7,Overweight,130/85,72,6000,NaN
310,310,310,Female,52,Software Engineer,6.6,7,45,7,Overweight,130/85,72,6000,NaN
311,311,311,Female,52,Software Engineer,6.6,7,45,7,Overweight,130/85,72,6000,NaN

In [104]:
frame.isnull()

,Unnamed: 0,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
16,False,False,False,False,False,False,False,False,False,False,False,False,False,True
18,False,False,False,False,False,False,False,False,False,False,False,False,False,True
30,False,False,False,False,False,False,False,False,False,False,False,False,False,True
31,False,False,False,False,False,False,False,False,False,False,False,False,False,True
32,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,False,False,False,False,False,False,False,False,False,False,False,False,False,True
308,False,False,False,False,False,False,False,False,False,False,False,False,False,True
309,False,False,False,False,False,False,False,False,False,False,False,False,False,True
310,False,False,False,False,False,False,False,False,False,False,False,False,False,True
311,False,False,False,False,False,False,False,False,False,False,False,False,False,True

##### Add row

In [159]:
frame1=pd.read_csv("Sleep_health.csv")
frame1.loc[len(frame1.index)]=[372,372,372,'Female',59,'Software Engineer',8.1,9,75,3,'Overweight','140/95',68,7000,'NaN']
frame1

,Unnamed: 0.1,Unnamed: 0,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,0,0,0,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,1,1,1,Male,28,Software Engineer,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,2,2,2,Male,28,Software Engineer,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,3,3,3,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,NaN
4,4,4,4,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,370,370,370,Female,59,Software Engineer,8.0,9,75,3,Overweight,140/95,68,7000,NaN
371,371,371,371,Female,59,Software Engineer,8.1,9,75,3,Overweight,140/95,68,7000,NaN
372,372,372,372,Female,59,Software Engineer,8.1,9,75,3,Overweight,140/95,68,7000,NaN
373,373,373,373,Female,59,Software Engineer,8.1,9,75,3,Overweight,140/95,68,7000,NaN
374,372,372,372,Female,59,Software Engineer,8.1,9,75,3,Overweight,140/95,68,7000,NaN

## 6. Working with Columns

##### grab the oclumn name

In [105]:
# We can grab the oclumn names with .columns
frame.columns

Index(['Unnamed: 0', 'Person ID', 'Gender', 'Age', 'Occupation',
       'Sleep Duration', 'Quality of Sleep', 'Physical Activity Level',
       'Stress Level', 'BMI Category', 'Blood Pressure', 'Heart Rate',
       'Daily Steps', 'Sleep Disorder'],
      dtype='object')

##### Get the data of one column

In [106]:
frame.Gender

16     Female
18     Female
30     Female
31     Female
32     Female
        ...
307    Female
308    Female
309    Female
310    Female
311    Female
Name: Gender, Length: 116, dtype: object

##### specific data columns

In [107]:
#Lets see some specific data columns
DataFrame(frame,columns=['Gender','Age','Occupation'])

     Gender  Age         Occupation
16   Female   29  Software Engineer
18   Female   29  Software Engineer
30   Female   30  Software Engineer
31   Female   30  Software Engineer
32   Female   31  Software Engineer
..      ...  ...                ...
307  Female   52  Software Engineer
308  Female   52  Software Engineer
309  Female   52  Software Engineer
310  Female   52  Software Engineer
311  Female   52  Software Engineer

[116 rows x 3 columns]

In [119]:
#get specific data columns and rows 
frame['Occupation']="Software Engineer"
frame

<ipython-input-119-25a0f81144a2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frame['Occupation']="Software Engineer"

,Unnamed: 0,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
16,16,16,Female,29,Software Engineer,6.5,5,40,7,Normal Weight,132/87,80,4000,NaN
18,18,18,Female,29,Software Engineer,6.5,5,40,7,Normal Weight,132/87,80,4000,NaN
30,30,30,Female,30,Software Engineer,6.4,5,35,7,Normal Weight,130/86,78,4100,NaN
31,31,31,Female,30,Software Engineer,6.4,5,35,7,Normal Weight,130/86,78,4100,NaN
32,32,32,Female,31,Software Engineer,7.9,8,75,4,Normal Weight,117/76,69,6800,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,307,307,Female,52,Software Engineer,6.5,7,45,7,Overweight,130/85,72,6000,NaN
308,308,308,Female,52,Software Engineer,6.6,7,45,7,Overweight,130/85,72,6000,NaN
309,309,309,Female,52,Software Engineer,6.6,7,45,7,Overweight,130/85,72,6000,NaN
310,310,310,Female,52,Software Engineer,6.6,7,45,7,Overweight,130/85,72,6000,NaN
311,311,311,Female,52,Software Engineer,6.6,7,45,7,Overweight,130/85,72,6000,NaN

In [143]:
#Putting numbers for stadiums
frame["Person ID"]= np.arange(116)
frame

<ipython-input-143-f8a48636360d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frame["Person ID"]= np.arange(116)

,Unnamed: 0,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Blood Pressure
16,16,0,Female,29,Software Engineer,6.5,5,40,7,Normal Weight,80,4000,NaN,Fe
18,18,1,Female,29,Software Engineer,6.5,5,40,7,Normal Weight,80,4000,NaN,Fe
30,30,2,Female,30,Software Engineer,6.4,5,35,7,Normal Weight,78,4100,NaN,Fe
31,31,3,Female,30,Software Engineer,6.4,5,35,7,Normal Weight,78,4100,NaN,Fe
32,32,4,Female,31,Software Engineer,7.9,8,75,4,Normal Weight,69,6800,NaN,Fe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,307,111,Female,52,Software Engineer,6.5,7,45,7,Overweight,72,6000,NaN,Fe
308,308,112,Female,52,Software Engineer,6.6,7,45,7,Overweight,72,6000,NaN,Fe
309,309,113,Female,52,Software Engineer,6.6,7,45,7,Overweight,72,6000,NaN,Fe
310,310,114,Female,52,Software Engineer,6.6,7,45,7,Overweight,72,6000,NaN,Fe
311,311,115,Female,52,Software Engineer,6.6,7,45,7,Overweight,72,6000,NaN,Fe

In [144]:
#DataFrames can be constructed many ways. Another way is from a dictionary of␣,→equal length lists

data = {'Gender':['Male','Female'],
'Person ID':[2,370]}
sleep_frame = DataFrame(data)
#Show
sleep_frame

   Gender  Person ID
0    Male          2
1  Female        370

In [145]:
#We can also delete columns
del frame['Blood Pressure']
frame

,Unnamed: 0,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder
16,16,0,Female,29,Software Engineer,6.5,5,40,7,Normal Weight,80,4000,NaN
18,18,1,Female,29,Software Engineer,6.5,5,40,7,Normal Weight,80,4000,NaN
30,30,2,Female,30,Software Engineer,6.4,5,35,7,Normal Weight,78,4100,NaN
31,31,3,Female,30,Software Engineer,6.4,5,35,7,Normal Weight,78,4100,NaN
32,32,4,Female,31,Software Engineer,7.9,8,75,4,Normal Weight,69,6800,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,307,111,Female,52,Software Engineer,6.5,7,45,7,Overweight,72,6000,NaN
308,308,112,Female,52,Software Engineer,6.6,7,45,7,Overweight,72,6000,NaN
309,309,113,Female,52,Software Engineer,6.6,7,45,7,Overweight,72,6000,NaN
310,310,114,Female,52,Software Engineer,6.6,7,45,7,Overweight,72,6000,NaN
311,311,115,Female,52,Software Engineer,6.6,7,45,7,Overweight,72,6000,NaN

In [146]:
#Adding new columns to a DataFrame
'''frame['Blood Pressure'] = frame['Gender'].str[0:2]'''
lst=list(range(16))
df['Blood Pressure']=lst
df

<ipython-input-146-9601ce299e4b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Blood Pressure']=lst

,Unnamed: 0,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
358,358,358,Female,59,Software Engineer,8.0,9,75,3,Overweight,0,68,7000,NaN
359,359,359,Female,59,Software Engineer,8.1,9,75,3,Overweight,1,68,7000,NaN
360,360,360,Female,59,Software Engineer,8.2,9,75,3,Overweight,2,68,7000,NaN
361,361,361,Female,59,Software Engineer,8.2,9,75,3,Overweight,3,68,7000,NaN
362,362,362,Female,59,Software Engineer,8.2,9,75,3,Overweight,4,68,7000,NaN
363,363,363,Female,59,Software Engineer,8.2,9,75,3,Overweight,5,68,7000,NaN
364,364,364,Female,59,Software Engineer,8.0,9,75,3,Overweight,6,68,7000,NaN
365,365,365,Female,59,Software Engineer,8.0,9,75,3,Overweight,7,68,7000,NaN
366,366,366,Female,59,Software Engineer,8.1,9,75,3,Overweight,8,68,7000,NaN
367,367,367,Female,59,Software Engineer,8.0,9,75,3,Overweight,9,68,7000,NaN
368,368,368,Female,59,Software Engineer,8.1,9,75,3,Overweight,10,68,7000,NaN
369,369,369,Female,59,Software Engineer,8.1,9,75,3,Overweight,11,68,7000,NaN
370,370,370,Female,59,Software Engineer,8.0,9,75,3,Overweight,12,68,7000,NaN
371,371,371,Female,59,Software Engineer,8.1,9,75,3,Overweight,13,68,7000,NaN
372,372,372,Female,59,Software Engineer,8.1,9,75,3,Overweight,14,68,7000,NaN
373,373,373,Female,59,Software Engineer,8.1,9,75,3,Overweight,15,68,7000,NaN

## Joining/Combining DataFrames and Groupby

##### Merge on columns

In [ ]:
frame2=pd.read_csv("2015.csv")
frame2

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [170]:
merge_frame=frame1.merge(frame2)

<class 'pandas.errors.MergeError'>: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

##### aggregating function

In [147]:
frame['Sleep Duration'].sum()

768.4000000000001

In [148]:
frame.nunique()

Unnamed: 0                 116
Person ID                  116
Gender                       1
Age                         20
Occupation                   1
Sleep Duration              16
Quality of Sleep             5
Physical Activity Level     11
Stress Level                 5
BMI Category                 4
Heart Rate                  13
Daily Steps                 13
Sleep Disorder               0
dtype: int64

In [162]:
frame1.describe()

,Unnamed: 0.1,Unnamed: 0,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000
mean,186.994667,186.994667,186.994667,42.229333,7.134667,7.317333,59.213333,5.378667,70.160000,6817.333333
std,108.388240,108.388240,108.388240,8.704949,0.796163,1.198526,20.818989,1.776427,4.131657,1615.778925
min,0.000000,0.000000,0.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,93.500000,93.500000,93.500000,35.500000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.000000,187.000000,187.000000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.500000,280.500000,280.500000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,373.000000,373.000000,373.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [163]:
frame1['Stress Level'].mean()

5.378666666666667

In [164]:
frame1['Stress Level'].std()

1.7764271458842835

In [165]:
frame1['Age'].max()

59

In [166]:
frame1['Age'].min()

27