In [6]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [7]:
df = pd.read_csv('Data.csv')
print(df)

      Name   Age  Gender Occupation
0     Alice   25  Female   Engineer
1       Bob   30    Male  Scientist
2   Charlie   35    Male     Artist
3  Danielle   40  Female    Teacher

In [8]:
#3. Extract the 'Age' and 'Occupation' columns into a new DataFrame
s = df[['Age', 'Occupation']]
print(s)

   Age Occupation
0   25   Engineer
1   30  Scientist
2   35     Artist
3   40    Teacher

In [9]:
#4. Try to extract a column that doesn't exist in the DataFrame and observe the error message.
column_name = 'Salary'
try:
    new_df = df[column_name]
except KeyError as e:
    print(f"Error: {e}")

Error: 'Salary'

In [11]:
#Assign the value 50 to the entire 'Age' column.

df['Age'] = 50
df

      Name   Age  Gender Occupation
0     Alice   50  Female   Engineer
1       Bob   50    Male  Scientist
2   Charlie   50    Male     Artist
3  Danielle   50  Female    Teacher

In [12]:
#6.Try to assign random values for the Salary.
df['Salary'] = np.random.randint(40000, 80000, len(df))

print(df)

      Name   Age  Gender Occupation  Salary
0     Alice   50  Female   Engineer   54652
1       Bob   50    Male  Scientist   65899
2   Charlie   50    Male     Artist   43975
3  Danielle   50  Female    Teacher   60967

In [13]:
#7. Add a new column called 'Kids' to the DataFrame with the following values: [2, 4, 0, 5]
df['Kids'] = [2, 4, 0, 5]

print(df)

      Name   Age  Gender Occupation  Salary  Kids
0     Alice   50  Female   Engineer   54652     2
1       Bob   50    Male  Scientist   65899     4
2   Charlie   50    Male     Artist   43975     0
3  Danielle   50  Female    Teacher   60967     5

In [ ]:
#8. Delete the 'Gender' column from the DataFrame

df = df.drop('Gender', axis=1)

print(df)

In [14]:
#9. Save the modified DataFrame to a new CSV file.

df.to_csv('Data.csv', index=False)

print(df)

      Name   Age  Gender Occupation  Salary  Kids
0     Alice   50  Female   Engineer   54652     2
1       Bob   50    Male  Scientist   65899     4
2   Charlie   50    Male     Artist   43975     0
3  Danielle   50  Female    Teacher   60967     5