## (Statistics)

### 1. Create a Series with the following data: data = [5, 10, 15, np.nan, 25, 30, np.nan]

In [3]:
import pandas as pd
import numpy as np


data = [5, 10, 15, np.nan, 25, 30, np.nan]
series = pd.Series(data)
series

0     5.0
1    10.0
2    15.0
3     NaN
4    25.0
5    30.0
6     NaN
dtype: float64

### 2. Calculate the sum of the Series along the rows.

In [4]:
sum_r= series.sum()
sum_r

85.0

### 3. Calculate the sum of the Series along the columns.

In [5]:
sum_c = series.sum(axis=0)
sum_c

85.0

### 4. Calculate the minimum value in the Series.

In [6]:
min_value = series.min()
min_value

5.0

### 5. Find the index label of the minimum value in the Series.

In [7]:
min_index = series.idxmin()
min_index

0

### 6. Calculate the cumulative sum of the Series.

In [8]:
cumulative_sum = series.cumsum()
cumulative_sum

0     5.0
1    15.0
2    30.0
3     NaN
4    55.0
5    85.0
6     NaN
dtype: float64

### 7. Calculate the descriptive statistics of the Series using the describe method.

In [9]:
des_stats = series.describe()
des_stats

count     5.000000
mean     17.000000
std      10.368221
min       5.000000
25%      10.000000
50%      15.000000
75%      25.000000
max      30.000000
dtype: float64

### 8. Find the unique values in the Series.

In [10]:
unique_v = series.unique()
unique_v

array([ 5., 10., 15., nan, 25., 30.])

### 9. Calculate the count of each unique value in the Series using the value_counts method.

In [11]:
value_count = series.value_counts()
value_count

5.0     1
10.0    1
15.0    1
25.0    1
30.0    1
dtype: int64

### 10. Create a DataFrame with the following data: data = {'A': [1, 2, np.nan, 4, 5], 'B': [10, 20, 30, np.nan, 50], 'C': [100, np.nan, 300, 400, 500]}

In [12]:
data = {'A': [1, 2, np.nan, 4, 5], 'B': [10, 20, 30, np.nan, 50], 'C': [100, np.nan, 300, 400, 500]}
df = pd.DataFrame(data)
df

     A     B      C
0  1.0  10.0  100.0
1  2.0  20.0    NaN
2  NaN  30.0  300.0
3  4.0   NaN  400.0
4  5.0  50.0  500.0

### 11. Calculate the sum of the DataFrame along the rows.

In [13]:
sum_row = df.sum(axis=1)
sum_row

0    111.0
1     22.0
2    330.0
3    404.0
4    555.0
dtype: float64

### 12. Calculate the sum of the DataFrame along the columns.

In [14]:
sum_columns = df.sum()
sum_columns

A      12.0
B     110.0
C    1300.0
dtype: float64

### 13. Calculate the minimum value in the DataFrame.

In [16]:
min_value= df.min().min()
min_value

1.0

### 14. Find the index label and column name of the minimum value in the DataFrame.

In [45]:
df.loc[df.stack().idxmin()]

min_label, min_name = [df.stack().idxmin()[0],df.stack().idxmin()[1]]
min_label , min_name

(0, 'A')

### 15. Calculate the cumulative sum of the DataFrame.

In [18]:
cumulative_sum = df.cumsum()
cumulative_sum

      A      B       C
0   1.0   10.0   100.0
1   3.0   30.0     NaN
2   NaN   60.0   400.0
3   7.0    NaN   800.0
4  12.0  110.0  1300.0

### 16. Calculate the descriptive statistics of the DataFrame using the describe method.

In [19]:
descriptive_df = df.describe()
descriptive_df

              A          B           C
count  4.000000   4.000000    4.000000
mean   3.000000  27.500000  325.000000
std    1.825742  17.078251  170.782513
min    1.000000  10.000000  100.000000
25%    1.750000  17.500000  250.000000
50%    3.000000  25.000000  350.000000
75%    4.250000  35.000000  425.000000
max    5.000000  50.000000  500.000000

### 17. Find the unique values in column 'A' of the DataFrame.

In [21]:
unique_columnA = df['A'].unique()
unique_columnA

array([ 1.,  2., nan,  4.,  5.])

### 18. Calculate the count of each unique value in column 'A' of the DataFrame using the value_counts method.

In [22]:
counts_columnA = df['A'].value_counts()
counts_columnA

1.0    1
2.0    1
4.0    1
5.0    1
Name: A, dtype: int64

### 19. Sort the DataFrame by column 'B' in ascending order and then by column 'A' in descending order.

In [23]:
sort_df = df.sort_values(by=['B', 'A'], ascending=[True, False])
sort_df

     A     B      C
0  1.0  10.0  100.0
1  2.0  20.0    NaN
2  NaN  30.0  300.0
4  5.0  50.0  500.0
3  4.0   NaN  400.0

### 20. Create a new column 'D' in the DataFrame which is the cumulative sum of column 'C'.

In [24]:
df['D'] = df['C'].cumsum()
df

     A     B      C       D
0  1.0  10.0  100.0   100.0
1  2.0  20.0    NaN     NaN
2  NaN  30.0  300.0   400.0
3  4.0   NaN  400.0   800.0
4  5.0  50.0  500.0  1300.0